/* CSS RESET */
* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    list-style-type: none;

}


main {
    height: 100vh;
}

/* NAVBAR */

.macro-container {

    display: flex;
    height: calc(100% - 70px);
}

.navbar {
    width: 60px;
    background-color: black;
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo-container {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.navbar-link {
    color: lightgray;
}

.navbar-margin {
    margin: 10px 0;
}




.logo-small {
    max-width: 30px;
    padding-bottom: 15px;
    padding-top: 10px;
}

.icon-small {
    width: 30px;
}

.icon-pf {
    width: 30px;
    border-style: solid;
    border-color: gray;
    background-color: gray;
    border-radius: 30px;
}

.icon-dw {
    width: 20px;
    margin-bottom: 15px
}




.navbar-bottom-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* MUSIC SECTION */

.button {
    border: solid;
    border-radius: 25px;
    padding: 10px 35px;
    border-color: white;
    color: white;
}

.header {
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
}

.music-section {
    flex-grow: 1;
    background: #141922;
    overflow-y: scroll;

}

.menu-bar-container {
    padding: 30px 0px;
}

.menu-bar {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
    

.link-bar {
    color: gray;
    padding: 15px 5px;
}

.sub-link-bar-container {
    display: flex;
    justify-content: center;
}

.sub-link-bar {
    color: gray;
    margin: 35px 30px;
}


.music-selector {
    margin-left: 15px;
}

.h2 {
    color: white;
}


.sub-h2 {
    color: gray;
}

.section-margin {
    margin-bottom: 40px;
}


.card-container {
    display: flex;
    column-gap: 15px;
    height: 100%;
    flex-wrap: wrap;

}

.playlist-img {
    max-width: 180px;
    margin-bottom: 15px;
}

.playlist-circle-img {
    max-width: 180px;
    margin-bottom: 15px;
    border-radius: 100px;
}

.card-box {
    max-width: 180px;
    text-align: center;
    color: white;
    margin-bottom: 10px;

}



.card-text {
    color: gray;
    text-align: center;
}







/* PLAYER */

.player {
    height: 70px;
    background: #282828;
    display: flex;
    justify-content: space-around;
}


.text-w {
    color: white;
}

.text-g {
    color: gray;
}


/* LEFT PLAYER */
.player-img {
    max-width: 50px;

    margin-right: 5px;
}

.actual-music {
    display: flex;
    padding-top: 10px;
    width: 25%;
    margin-left: 2%;
    margin-right: 2%;
}

.img-left {
    margin-left: 1%;
}

.text-right {
    margin-left: 1%;
}

.icon-player-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5%;
}

.icon-player-center {
    color: white;
    font-size: 20px;
}



/* CENTER PLAYER */

.center-player {
    width: 50%;
    margin-top: 10px;
}


.top-box {
    display: flex;
    justify-content: space-around;
}

.bottom-box {
    display: flex;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.player-minutes {
    color: gray;
    margin: 0 1%;
}

.player-bar {
    width: 80%;
    background-color: gray;
    height: 2px;
}

/* RIGHT PLAYER */

.right-player {
    display: flex;
    width: 25%;
    align-items: center;
    column-gap: 5px;
    margin-left: 2%;
    margin-right: 2%;
}

.icon-right-player {
    color: white;

}

.right-player-bar {
    width: 60%;
    background-color: gray;
    height: 2px;
}


/* Responsive */

.big-logo {
    display: none;
}

.display-inline {
    display: none;
}

.playlist-container {
    margin-left: 15px;
    display: none;
}

.icon-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
    column-gap: 5px;
}

.nav-icon {
    color: gray;
    font-size: 50px;
}

@media screen and (min-width: 880px) {


    .navbar {
        width: 280px;
        justify-content: flex-start;
    }

    .navbar-list {
        margin-left: 15px;
    }

    .navbar-bottom-list {
        align-items: flex-start;
        margin-left: 15px;
    }

    .big-logo {
        display: block;
        margin: 20px;
        width: 140px;
    }

    .logo-small {
        display: none;
    }

    .logo-container {
        align-items: initial;

    }

    .display-inline {
        display: inline;
    }

    .super {
        vertical-align: super;
    }

    .playlist-container {
        display: block;
        flex-grow: 1;
    }

    .nome-playlist {
        height: 200px;
        overflow: auto;
    }


}