/* CSS RESET */
* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    list-style-type: none;

}


main {
    height: 100vh;
}

/* NAVBAR */

.macro-container {

    display: flex;
    height: calc(100% - 70px);
}

.navbar {
    width: 60px;
    background-color: black;
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo-container {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .navbar-list {
    
} */

.navbar-link {
    color: lightgray;
}





.logo-small {
    max-width: 30px;
    padding-bottom: 15px;
    padding-top: 10px;
}

.icon-small {
    width: 30px;
}

.icon-pf {
    width: 30px;
    border-style: solid;
    border-color: gray;
    background-color: gray;
    border-radius: 30px;
}

.icon-dw {
    width: 20px;
    margin-bottom: 15px
}




.navbar-bottom-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* MUSIC SECTION */

.button {
    border: solid;
    border-radius: 25px;
    padding: 10px 35px;
    border-color: white;
    color: white;
}

.header {
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
}

.music-section {
    flex-grow: 1;
    background: #141922;
    overflow-y: scroll;
    
}

.menu-bar-container {
    padding: 10px 25px;
}

.menu-bar {
    display: flex;
    justify-content: space-around;
}

.link-bar {
    color: gray;
}

.sub-link-bar-container{
    display: flex;
    justify-content: center;
}

.sub-link-bar {
    color: gray;
    margin: 35px 30px;
}


.music-selector {
    margin-left: 15px;
}

.h2{
    color: white;
    margin-bottom: 15px;
}

.card-container {
    display: flex;
    column-gap: 15px;
    height: 100%;
    flex-wrap: wrap;

}

.playlist-img {
    max-width: 180px;
    margin-bottom: 15px;
}

.card-box {
    max-width: 180px;
    text-align: center;
    color: white;

}    

/* .card-title {
    text-align: center;
    color: white;
} */

.card-text {
    color: gray;
    text-align: center;
}







/* PLAYER */

.player {
    height: 70px;
    background: #282828;
}

.player-img {
    max-width: 50px;
    float: left;
    margin-right: 5px;
}

.text-w {
    color: white;
}

.text-g {
    color: gray;
}