/* CSS RESET */
* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;

}


.button {
    border: solid;
    border-radius: 25px;
    padding: 10px 35px;
    border-color: white;
    color: white;
}

.macro-container {

    display: flex;
}

.navbar {
    width: 200px;
    background-color: black;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo-container {
    margin-bottom: 20px;
}

/* .navbar-list {
    
} */

.navbar-link {
    color: lightgray;
}

.player {
    height: 100px;
    background: red;
}

.music-section {
    flex-grow: 1;
    background: blue;
}

.logo-small {
    max-width: 30px;
    padding-bottom: 15px;
}

.icon-small {
    max-width: 30px;
}

.icon-pf {
    width: 30px;
    border-style: solid;
    border-color: gray;
    background-color: gray;
    border-radius: 30px;
}

.icon-dw {
    width: 20px;
}