/* CSS RESET */
* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;

}


.button {
    border: solid;
    border-radius: 25px;
    padding: 10px 35px;
    border-color: white;
    color: white;
}

.macro-container {
    
    display: flex;
}

.navbar {
    width: 50px;
    background-color: black;
}

.navbar-list {
    display: flex;
    align-items: center;
}

.navbar-link{
    color: lightgray;
}





